[submodule "external/watermarkanything"]
	path = external/watermarkanything
	url = git@github.com:facebookresearch/watermark-anything.git
[submodule "/home/shreyas/Desktop/Shreyas/Projects/Falcon/external/instrctpix2pix"]
	path = /home/shreyas/Desktop/Shreyas/Projects/Falcon/external/instrctpix2pix
	url = git@github.com:timothybrooks/instruct-pix2pix.git
